.task {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: white;
  border-radius: 4px;
  color: black;
  min-height: 5rem;
  padding: 0.5rem;
}

.bottomWrapper {
  display: flex;
  justify-content: space-between;
}

.status {
  font-size: small;
  background: var(--COLOR-GRAY-LIGHT);
  padding: 0.25rem;
  border-radius: 4px;
}

.PLANNED {
  background: var(--COLOR-GRAY-LIGHT);
}

.ONGOING {
  background: var(--COLOR-ONGOING);
}

.DONE {
  background: var(--COLOR-DONE);
}
